<div class="todo-container">
  <h2>Your Tasks</h2>
  
  <!-- Todo Form for adding/editing -->
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <label for="task">Task:</label>
    <input type="text" formControlName="task" id="task" placeholder="Enter task" />
    
    <button type="submit">{{ isEditing ? 'Update Todo' : 'Add Todo' }}</button>
    <button *ngIf="isEditing" type="button" (click)="resetForm()">Cancel</button>
  </form>

  <!-- <div>{{ todos | json }}</div>  -->

  <!-- Todo List -->
  <div *ngIf="todos.length > 0;">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" class="todo-item">
        {{ todo | json }} 
        <div class="todo-info">
          <input 
            type="checkbox" 
            [checked]="todo.completed"
            (change)="markComplete(todo.id)"
            class="checkbox"
          />
          <span [class.completed]="todo.completed" class="task-name">
            {{ todo.task }}
          </span>
        </div>
        
        <button (click)="editTodo(todo.id)" class="edit-btn">Edit</button>
        <button (click)="deleteTodo(todo.id)" class="delete-btn">Delete</button>
      </li>
    </ul>
  </div>

  <!-- <ng-template #noTodos>
    <p>No tasks available. Please add some!</p>
  </ng-template> -->
</div>
