name: API WorkFlow

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    # defaults:
    #   run:
    #     working-directory: /todo-Api

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Code Dependencies
        run: npm install

      - name: Run Prettier Code Formatter
        run: npm run format